<div class="content-about">
  <mat-grid-list cols="1" rowHeight="5rem">
    <mat-grid-tile>
      <img
        class="product-img"
        src="https://www.whitmorerarebooks.com/pictures/medium/2465.jpg"
    /></mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <img
        class="product-img"
        src="https://www.whitmorerarebooks.com/pictures/medium/2465.jpg"
    /></mat-grid-tile>
    <mat-grid-tile>
      <img
        class="product-img"
        src="https://www.whitmorerarebooks.com/pictures/medium/2465.jpg"
    /></mat-grid-tile>
    <mat-grid-tile>
      <img
        class="product-img"
        src="https://www.whitmorerarebooks.com/pictures/medium/2465.jpg"
    /></mat-grid-tile>
  </mat-grid-list>

  <div class="content-detalle-producto">
    <h2>BRAND NAME</h2>
    <h1>The Catcher in the Rye</h1>
    <p>
      Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha
      taximy chia microdosing tilde DIY. XOXO fam indxgo juiceramps cornhole raw
      denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub
      blue bottle austin listicle pour-over, neutra jean shorts keytar banjo
      tattooed umami cardigan.
    </p>
    <p class="detalle-precio">$58.00</p>
    <button mat-raised-button color="primary">Agregar al carrito</button>
  </div>
</div>
