<div class="content-about">
  <mat-grid-list cols="1" rowHeight="5rem">
    <mat-grid-tile>
      <img class="product-img" [src]="cover()" />
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="3" rowHeight="2:1">
    <img
      class="product-img"
      *ngFor="let img of producto()?.images"
      [src]="img"
      (click)="changeCover(img)"
      [class.border-pink]="img === cover()"
    />
  </mat-grid-list>

  <div class="content-detalle-producto">
    <h2>{{ producto()?.category?.name | uppercase }}</h2>
    <h1>{{ producto()?.title }}</h1>
    <p>{{ producto()?.description }}</p>
    <p class="detalle-precio">{{ producto()?.price | currency:'$':'symbol':'1.0'}}</p>
    <button mat-raised-button color="primary" (click)="addToCart()">Agregar al carrito</button>
  </div>
</div>
