.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
}

.center {
  text-align: center;
}

.margin-card {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.pointer:hover {
  cursor: pointer;
  border: 1px solid #f1f1f1;
  border-radius: 15px;
}
