/* .example-spacer {
  flex: 1 1 auto;
}
 */
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.carrito {
  margin-left: auto;
  padding-top: 1px;
}

/* #carrito-btn { */
/*   color: white; */
/*   border: none; */
/*   padding: 10px 10px; */
/*   cursor: pointer; */
/*   border-radius: 5px; */
/*   font-size: 16px; */
/* } */
/*  */
/* #carrito-btn:hover { */
/*   background-color: #c21e8c */
/* } */
/*  */
.sidenav-container {
  height: 100vh;
  background-color: transparent;
}

/* clase para desplazar el contenido del carrito */
.mat-sidenav {
  width: 250px;
  background-color: rgb(240, 165, 235);
}

.titulo-contenido-carrito {
  display: flex;
  color: blueviolet;
  justify-content: center; /* centra horizontalmente */
}

.contenedor {
  justify-content: space-between; /* centra horizontalmente */
  align-items: center;
}
.producto-en-carrito img {
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-between;
}

.carrito-img {
  /* img */
  width: 50px; /* Ajusta este valor según el tamaño deseado */
  height: 50px; /* Ajusta este valor según el tamaño deseado */
  object-fit: cover; /* Esto asegura que la imagen se ajuste correctamente al contenedor */
}

.container-button-carrito {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  /*   align-items: center; /* centra verticalmente */
  height: 200px; /* altura del contenedor */
  margin: 1px;
}
.button-carrito {
  display: table-cell;
  max-width: 600px;
}
.mat-sidenav-content {
  background-color: transparent; /* Asegúrate de que el contenido principal tenga un fondo blanco */
}
