<div class="example-container">
  <!-- [class.example-is-mobile]="mobileQuery.matches" -->
  <mat-toolbar color="primary" class="example-toolbar-carrito">
    <button
      mat-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <!-- <mat-icon>more_vert</mat-icon> -->
      <h2>Menú</h2>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <!-- <span> -->
        <!--   <a routerLink="/">Home</a> -->
        <!-- </span> -->
      </button>
      <button mat-menu-item disabled>
        <mat-icon>checkroom</mat-icon>
        <span>Productos</span>
      </button>
      <button mat-menu-item>
        <mat-icon>search</mat-icon>
        <!-- <span> -->
        <!--   <a routerLink="servicio">Servicio</a> -->
        <!-- </span> -->
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
      <button mat-menu-item>
        <mat-icon>about</mat-icon>
        <!-- <span> -->
        <!--   <a routerLink="about">Nosotros</a> -->
        <!-- </span> -->
      </button>
      <button mat-menu-item>
        <mat-icon>search</mat-icon>
        <span>Buscar</span>
      </button>
    </mat-menu>
    <div class="carrito">
      <!-- <p class="text-xl">Carrito</p> -->
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Carrito">
        <!-- (click)="sidenav.toggle()" -->
        <!-- (click)="toogleSideMenu()" -->
        <div>{{ cart().length }}</div>
        <mat-icon
          fontIcon="shopping_cart"
          (click)="toogleSideMenu()"
        ></mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" position="end">
      <h2 class="titulo-contenido-carrito">Mis Productos</h2>
      <div class="contenedor">
        <div class="producto-en-carrito" *ngFor="let producto of cart()">
          <img
            class="carrito-img"
            [src]="producto.img"
            [alt]="producto.title"
          />
          <!-- [src]="producto.images[0]" -->
          <h3>{{ producto.title }}</h3>
          <div>
            <p>{{ producto.price }}</p>
          </div>
          <button>-</button>
          <button>+</button>
        </div>
        <p>Total: {{ total() }}</p>
      </div>
      <div class="container-button-carrito">
        <a mat-stroked-button href="https://www.google.com/" target="_blank"
          >Seguir comprando</a
        >
        <a mat-stroked-button href="https://www.google.com/" target="_blank"
          >Pagar</a
        >
      </div>
    </mat-sidenav>
    <!-- <mat-sidenav-content> -->
    <!--    El contenido principal -->
    <!--  </mat-sidenav-content> -->
  </mat-sidenav-container>
</div>
