<div class="container mx-auto">
  <!--   <app-producto
    title="Producto 1"
    [price]="210"
    [img]="'https://picsum.photos/id/1/200/300'"
    (addToCart)="formChild($event)"
  />
  <app-producto
    title="Producto 2"
    [price]="300"
    [img]="'https://picsum.photos/id/2/200/300'"
    (addToCart)="formChild($event)"
  />
  <app-producto
    title="Producto 3"
    [price]="300"
    [img]="'https://picsum.photos/id/3/200/300'"
    (addToCart)="formChild($event)"
  />
  <app-producto
    title="Producto 4"
    [price]="300"
    [img]="'https://picsum.photos/id/4/200/300'"
    (addToCart)="formChild($event)"
  />
  <app-producto
    title="Producto 5"
    [price]="300"
    [img]="'https://picsum.photos/id/5/200/300'"
    (addToCart)="formChild($event)"
  /> -->
  <app-header />
<!--   <h3>{{ cart().length }}</h3> -->
  <div class="flex-container">
    <app-producto
      *ngFor="let producto of productos"
      [producto]="producto"
      (addToCartEvent)="addToCart($event)"
    />
  </div>
</div>
